In [11]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

#### 读取数据,检查数据是否正常

In [12]:
train_data = pd.read_csv('zhengqi_train_change_feat.txt',sep='\t')
test_data = pd.read_csv('zhengqi_test_change_feat.txt',sep='\t')
train_data.info()
train_data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2876 entries, 0 to 2875
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   NEW_V0   2876 non-null   float64
 1   NEW_V1   2876 non-null   float64
 2   NEW_V2   2876 non-null   float64
 3   NEW_V3   2876 non-null   float64
 4   NEW_V4   2876 non-null   float64
 5   NEW_V5   2876 non-null   float64
 6   NEW_V6   2876 non-null   float64
 7   NEW_V7   2876 non-null   float64
 8   NEW_V8   2876 non-null   float64
 9   NEW_V9   2876 non-null   float64
 10  NEW_V10  2876 non-null   float64
 11  NEW_V11  2876 non-null   float64
 12  NEW_V12  2876 non-null   float64
 13  target   2876 non-null   float64
dtypes: float64(14)
memory usage: 314.7 KB

,NEW_V0,NEW_V1,NEW_V2,NEW_V3,NEW_V4,NEW_V5,NEW_V6,NEW_V7,NEW_V8,NEW_V9,NEW_V10,NEW_V11,NEW_V12,target
0,0.244155,0.058371,-0.709365,0.112128,0.045604,0.398246,-0.049281,-0.406480,0.091026,-0.114354,-0.064594,0.017555,-0.066695,0.175
1,0.072612,0.020445,-0.466664,0.103140,0.133513,-0.155133,0.056603,-0.108923,0.156555,-0.127921,-0.095539,-0.065958,-0.076677,0.676
2,0.050654,-0.064795,-0.384084,0.195353,0.090190,-0.242254,0.053519,-0.123022,0.119945,-0.188390,-0.058773,-0.076811,-0.093144,0.633
3,0.145182,-0.086517,-0.430886,0.184700,0.073053,-0.230179,0.041645,-0.070297,0.034805,-0.052809,-0.049796,-0.063461,-0.071294,0.206
4,0.094822,0.002961,-0.363128,0.181108,0.035590,-0.131888,-0.156308,-0.017808,0.023301,-0.085829,-0.033165,-0.107697,-0.080723,0.384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2871,-0.185775,0.163135,0.296266,0.044703,-0.160500,0.073577,0.013890,-0.022500,0.063700,-0.019435,-0.156600,0.089789,0.038696,0.235
2872,-0.265113,0.116245,0.148075,0.014564,-0.175116,0.217206,-0.116328,0.036270,0.102399,-0.047176,-0.064027,0.065101,0.124267,1.042
2873,-0.004994,0.235932,0.390053,-0.047434,-0.138841,0.046352,0.058589,-0.114935,0.041735,-0.006045,-0.100510,0.040572,0.050761,0.005
2874,-0.017451,0.250202,0.271764,-0.106539,-0.209788,0.121608,-0.150202,-0.056429,-0.011848,0.010349,-0.094184,-0.032955,0.004018,0.350
2875,-0.129435,0.220144,0.173392,-0.049063,-0.167287,0.162341,-0.064637,0.059213,0.046759,0.003083,-0.124581,-0.026677,0.037021,0.417

In [13]:
test_data.info()
test_data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1925 entries, 0 to 1924
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   NEW_V0   1925 non-null   float64
 1   NEW_V1   1925 non-null   float64
 2   NEW_V2   1925 non-null   float64
 3   NEW_V3   1925 non-null   float64
 4   NEW_V4   1925 non-null   float64
 5   NEW_V5   1925 non-null   float64
 6   NEW_V6   1925 non-null   float64
 7   NEW_V7   1925 non-null   float64
 8   NEW_V8   1925 non-null   float64
 9   NEW_V9   1925 non-null   float64
 10  NEW_V10  1925 non-null   float64
 11  NEW_V11  1925 non-null   float64
 12  NEW_V12  1925 non-null   float64
dtypes: float64(13)
memory usage: 195.6 KB

,NEW_V0,NEW_V1,NEW_V2,NEW_V3,NEW_V4,NEW_V5,NEW_V6,NEW_V7,NEW_V8,NEW_V9,NEW_V10,NEW_V11,NEW_V12
0,-0.129435,0.220144,0.173392,-0.049063,-0.167287,0.162341,-0.064637,0.059213,0.046759,0.003083,-0.124581,-0.026677,0.037020
1,-0.123219,0.179696,0.164898,-0.122726,-0.200217,0.141890,0.002490,0.003623,0.063826,-0.012343,-0.165080,-0.068530,-0.040966
2,-0.043112,0.173744,0.304921,-0.065651,-0.126573,0.060515,0.025053,-0.013048,0.076173,-0.055109,-0.172516,-0.050138,-0.012723
3,0.133995,-0.071889,0.036736,0.009561,-0.173597,0.040159,-0.153504,0.039500,0.010562,0.082007,-0.104190,-0.060490,-0.026506
4,0.051896,-0.183454,-0.009253,-0.036562,-0.159347,0.046709,0.018447,-0.001529,0.086025,0.015957,-0.125173,-0.066865,0.007095
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1920,1.244274,1.334998,-0.446095,0.255675,0.172921,0.281019,0.438704,-0.202064,0.662915,-0.147001,-0.339486,-0.048955,-0.017032
1921,1.652199,1.350769,-0.342764,-0.138860,0.043813,0.123960,0.260642,-0.609137,0.414461,-0.171882,-0.186591,0.004330,-0.183495
1922,1.671803,1.013052,-0.376791,-0.075557,0.038611,-0.016727,0.203187,-0.558380,0.392438,0.061784,-0.241721,0.052381,-0.283655
1923,1.592421,0.923634,-0.276922,-0.157805,0.051790,0.034208,0.093629,-0.507366,0.210369,0.030047,-0.219187,-0.063489,-0.292368
1924,1.489671,0.873844,-0.104871,0.117658,-0.017452,-0.130713,0.270427,-0.362338,0.175197,-0.136666,-0.154157,-0.088149,-0.124385

#### 将数据分成训练集和验证集

In [14]:
from sklearn.model_selection import train_test_split
train_data_tmp,valid_data = train_test_split(train_data)

feature_list = [feat for feat in train_data.columns if feat not in ['target']]

train_feat = train_data_tmp[feature_list]
train_target = train_data_tmp['target']
valid_feat = valid_data[feature_list]
valid_target = valid_data['target']

train_feat.info()
print(train_target,'\n')

valid_feat.info()
print(valid_target)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2157 entries, 339 to 2414
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   NEW_V0   2157 non-null   float64
 1   NEW_V1   2157 non-null   float64
 2   NEW_V2   2157 non-null   float64
 3   NEW_V3   2157 non-null   float64
 4   NEW_V4   2157 non-null   float64
 5   NEW_V5   2157 non-null   float64
 6   NEW_V6   2157 non-null   float64
 7   NEW_V7   2157 non-null   float64
 8   NEW_V8   2157 non-null   float64
 9   NEW_V9   2157 non-null   float64
 10  NEW_V10  2157 non-null   float64
 11  NEW_V11  2157 non-null   float64
 12  NEW_V12  2157 non-null   float64
dtypes: float64(13)
memory usage: 235.9 KB
339     1.114
106    -1.538
2152    0.858
335     1.025
1086    0.613
        ...
777     0.967
346     0.085
586     0.686
175     0.602
2414    0.120
Name: target, Length: 2157, dtype: float64

<class 'pandas.core.frame.DataFrame'>
Int64Index: 719 entries, 2233 to 239
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   NEW_V0   719 non-null    float64
 1   NEW_V1   719 non-null    float64
 2   NEW_V2   719 non-null    float64
 3   NEW_V3   719 non-null    float64
 4   NEW_V4   719 non-null    float64
 5   NEW_V5   719 non-null    float64
 6   NEW_V6   719 non-null    float64
 7   NEW_V7   719 non-null    float64
 8   NEW_V8   719 non-null    float64
 9   NEW_V9   719 non-null    float64
 10  NEW_V10  719 non-null    float64
 11  NEW_V11  719 non-null    float64
 12  NEW_V12  719 non-null    float64
dtypes: float64(13)
memory usage: 78.6 KB
2233    0.354
2741    0.926
475     1.241
30      0.396
1349    0.164
        ...
2740    0.564
2814    1.319
409    -1.599
640    -0.413
239     1.111
Name: target, Length: 719, dtype: float64

In [24]:
#线性回归模型
linear_model = LinearRegression()
linear_model.fit(train_feat,train_target)

linear_train_predic = linear_model.predict(train_feat)
linear_valid_predic = linear_model.predict(valid_feat)

print('linear_train_MSE:',mean_squared_error(linear_train_predic,train_target))
print('linear_valid_MSE:',mean_squared_error(linear_valid_predic,valid_target))

linear_train_MSE: 0.1328332864910367
linear_valid_MSE: 0.11850058560192855

In [25]:
#KNN临近模型
from sklearn.neighbors import KNeighborsRegressor

knn_model = KNeighborsRegressor(n_neighbors=8)
knn_model.fit(train_feat,train_target)

knn_train_predic = knn_model.predict(train_feat)
knn_valid_predic = knn_model.predict(valid_feat)

print('knn_train_MSE:',mean_squared_error(knn_train_predic,train_target))
print('knn_valid_MSE:',mean_squared_error(knn_valid_predic,valid_target))

knn_train_MSE: 0.12766338008518774
knn_valid_MSE: 0.14195636611178722

In [26]:
#决策树回归
from sklearn.tree import DecisionTreeRegressor

decision_tree_model = DecisionTreeRegressor()
decision_tree_model.fit(train_feat,train_target)

dt_train_predic = decision_tree_model.predict(train_feat)
dt_valid_predic = decision_tree_model.predict(valid_feat)

print('dt_train_MSE:',mean_squared_error(dt_train_predic,train_target))
print('dt_valid_MSE:',mean_squared_error(dt_valid_predic,valid_target))

dt_train_MSE: 0.0
dt_valid_MSE: 0.2774344478442281

In [27]:
#随机森林回归
from sklearn.ensemble import RandomForestRegressor

random_forest_model = RandomForestRegressor(n_estimators=200)
random_forest_model.fit(train_feat,train_target)

rf_train_predic = random_forest_model.predict(train_feat)
rf_valid_predic = random_forest_model.predict(valid_feat)

print('rf_train_MSE:',mean_squared_error(rf_train_predic,train_target))
print('rf_valid_MSE:',mean_squared_error(rf_valid_predic,valid_target))

rf_train_MSE: 0.02008598854117987
rf_valid_MSE: 0.1281909452604659

In [28]:
#LGB回归
from lightgbm import LGBMRegressor

lgb_model = LGBMRegressor(learning_rate=0.01,
                         max_depth=-1,
                         n_estimators=5000,
                         boosting_type='gbdt',
                         random_state=2019,
                         objective='regression')

lgb_model.fit(X=train_feat,y=train_target,eval_metric='MSE',verbose=50)

lgb_train_predic = lgb_model.predict(train_feat)
lgb_valid_predic = lgb_model.predict(valid_feat)

print('lgb_train_MSE:',mean_squared_error(lgb_train_predic,train_target))
print('lgb_valid_MSE:',mean_squared_error(lgb_valid_predic,valid_target))

c:\programdata\miniconda3\lib\site-packages\lightgbm\sklearn.py:736: UserWarning: 'verbose' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose' argument is deprecated and will be removed in a future release of LightGBM. "

lgb_train_MSE: 0.00043329031803751757
lgb_valid_MSE: 0.12185497843074355

#### 用最好的模型对test数据进行预测，将结果写入txt文件

In [29]:
best_model=lgb_model
test_predic = best_model.predict(test_data)
print(test_predic)
np.savetxt('predictions.txt',test_predic,delimiter='\t')

[ 0.39547945  0.25364709 -0.22867095 ... -1.94002258 -2.19557998
 -2.2406127 ]

#### 分别使用线性模型和书中推荐的lgb模型，对test_data进行预测并提交了结果，结果从0.4567→0.3745，结果提升不大，更换模型的作用比较有限

日期:2022-09-09 16:14:06   
score:0.3745    
提交说明：以[-6.1,6]为范围去掉异常值，进行特征工程处理，PCA降维保留13个特征，用lgb模型预测结果

日期:2022-09-09 15:11:18   
score:0.4567    
提交说明：以[-6.1,6]为范围去掉异常值，进行特征工程处理，PCA降维保留13个特征，用linear模型预测结果

日期:2022-09-06 12:17:11   
score:3.3491     
提交说明：直接用线性模型预测结果